@mixin animation-forward($animation, $delay, $duration) {
  -webkit-animation-name: $animation;
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-fill-mode: forwards;

  -moz-animation-name: $animation;
  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-fill-mode: forwards;

  -o-animation-name: $animation;
  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-fill-mode: forwards;

  animation-name: $animation;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-fill-mode: forwards;
}

@mixin animation-repeat($animation, $delay, $duration) {
  -webkit-animation-name: $animation;
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: $animation;
  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-iteration-count: infinite;

  -o-animation-name: $animation;
  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-iteration-count: infinite;

  animation-name: $animation;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-iteration-count: infinite;
}

@keyframes expand {
  from{
    -ms-transform: scale(1, 1); /* IE 9 */
    -webkit-transform: scale(1, 1); /* Safari */
    -o-transform: scale(1, 1); /* Opera */
    -moz-transform: scale(1, 1); /* Fire Fox */
    transform: scale(1, 1);
  }

  to{
    -ms-transform: scale(1.05, 1.05); /* IE 9 */
    -webkit-transform: scale(1.05, 1.05); /* Safari */
    -o-transform: scale(1.05, 1.05); /* Opera */
    -moz-transform: scale(1.05, 1.05); /* Fire Fox */
    transform: scale(1.05, 1.05);
  }
}

@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@keyframes scrollX {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}
