$marker: 'permanent_markerregular';
$cabin: 'cabinregular';

@font-face {
    font-family: 'permanent_markerregular';
    src: url('../font/Permanent_Marker/permanentmarker-regular-webfont.woff2') format('woff2'),
         url('../font/Permanent_Marker/permanentmarker-regular-webfont.woff') format('woff');

}

@font-face {
    font-family: 'cabinregular';
    src: url('../font/Cabin/cabin-regular-webfont.woff2') format('woff2'),
         url('../font/Cabin/cabin-regular-webfont.woff') format('woff');
}

@mixin font($font){
  font-family: $font, serif;
}

@mixin font-weight($value){
  font-weight: $value;
}

/* Font Family */
.font-marker {
  font-family: $marker, serif;
}

.font-cabin {
  font-family: $cabin, serif;
}

/* Others */
.no-text-deco{
  text-decoration: none !important;
}



/* Size */
.font-0_25em{
  font-size: 0.25em;
}

.font-0_5em{
  font-size: 0.5em;
}

.font-0_75em{
  font-size: 0.75em;
}

.font-1em{
  font-size: 1em;
}

.font-1_125em{
  font-size: 1.125em;
}

.text-1_25em{
  font-size: 1.25em;
}

.font-1_375em{
  font-size: 1.375em;
}

.font-1_5em{
  font-size: 1.5em;
}

.font-1_625em{
  font-size: 1.625em;
}

.font-1_75em{
  font-size: 1.75em;
}

.font-1_875em{
  font-size: 1.875em;
}

.font-2em{
  font-size: 2em;
}

.font-2_5em{
  font-size: 2.5em;
}

.font-3em{
  font-size: 3em;
}