$cabin: 'cabinregular';
$VT323: 'VT323';
$ubuntu-mono: 'ubuntu_monoregular';
$montserrat-thin: 'montserratthin';
$montserrat-bold: 'montserratbold';
$montserrat-regular: 'montserratregular';

@font-face {
    font-family: 'cabinregular';
    src: url('../font/Cabin/cabin-regular-webfont.woff2') format('woff2'),
         url('../font/Cabin/cabin-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'VT323';
  src:   url('../font/VT323/vt323-regular-webfont.woff2') format('woff2'),
         url('../font/VT323/vt323-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'ubuntu_monoregular';
  src:  url('../font/Ubuntu_Mono/ubuntumono-regular-webfont.woff2') format('woff2'),
        url('../font/Ubuntu_Mono/ubuntumono-regular-webfont.woff') format('woff');
}

@font-face{
  font-family: 'montserratthin';
  src:  url('../font/Montserrat-thin/montserrat-thin-webfont.woff2') format('woff2'),
        url('../font/Montserrat-thin/montserrat-thin-webfont.woff') format('woff');
}

@font-face{
  font-family: 'montserratbold';
  src:  url('../font/Montserrat-bold/montserrat-bold-webfont.woff2') format('woff2'),
        url('../font/Montserrat-bold/montserrat-bold-webfont.woff') format('woff');
}

@font-face{
  font-family: 'montserratregular';
  src:  url('../font/Montserrat-regular/montserrat-regular-webfont.woff2') format('woff2'),
        url('../font/Montserrat-regular/montserrat-regular-webfont.woff') format('woff');
}

/* Size */
.font-0_25em{
  font-size: 0.25em;
}

.font-0_5em{
  font-size: 0.5em;
}

.font-0_75em{
  font-size: 0.75em;
}

.font-1em{
  font-size: 1em;
}

.font-1_125em{
  font-size: 1.125em;
}

.font-1_25em{
  font-size: 1.25em;
}

.font-1_375em{
  font-size: 1.375em;
}

.font-1_5em{
  font-size: 1.5em;
}

.font-1_625em{
  font-size: 1.625em;
}

.font-1_75em{
  font-size: 1.75em;
}

.font-1_875em{
  font-size: 1.875em;
}

.font-2em{
  font-size: 2em;
}

.font-2_5em{
  font-size: 2.5em;
}

.font-3em{
  font-size: 3em;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  /* Size */
  .font-sm-0_25em{
    font-size: 0.25em;
  }

  .font-sm-0_5em{
    font-size: 0.5em;
  }

  .font-sm-0_75em{
    font-size: 0.75em;
  }

  .font-sm-1em{
    font-size: 1em;
  }

  .font-sm-1_125em{
    font-size: 1.125em;
  }

  .font-sm-1_25em{
    font-size: 1.25em;
  }

  .font-sm-1_375em{
    font-size: 1.375em;
  }

  .font-sm-1_5em{
    font-size: 1.5em;
  }

  .font-sm-1_625em{
    font-size: 1.625em;
  }

  .font-sm-1_75em{
    font-size: 1.75em;
  }

  .font-sm-1_875em{
    font-size: 1.875em;
  }

  .font-sm-2em{
    font-size: 2em;
  }

  .font-sm-2_5em{
    font-size: 2.5em;
  }

  .font-sm-3em{
    font-size: 3em;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  /* Size */
  .font-md-0_25em{
    font-size: 0.25em;
  }

  .font-md-0_5em{
    font-size: 0.5em;
  }

  .font-md-0_75em{
    font-size: 0.75em;
  }

  .font-md-1em{
    font-size: 1em;
  }

  .font-md-1_125em{
    font-size: 1.125em;
  }

  .font-md-1_25em{
    font-size: 1.25em;
  }

  .font-md-1_375em{
    font-size: 1.375em;
  }

  .font-md-1_5em{
    font-size: 1.5em;
  }

  .font-md-1_625em{
    font-size: 1.625em;
  }

  .font-md-1_75em{
    font-size: 1.75em;
  }

  .font-md-1_875em{
    font-size: 1.875em;
  }

  .font-md-2em{
    font-size: 2em;
  }

  .font-md-2_5em{
    font-size: 2.5em;
  }

  .font-md-3em{
    font-size: 3em;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  /* Size */
  .font-lg-0_25em{
    font-size: 0.25em;
  }

  .font-lg-0_5em{
    font-size: 0.5em;
  }

  .font-lg-0_75em{
    font-size: 0.75em;
  }

  .font-lg-1em{
    font-size: 1em;
  }

  .font-lg-1_125em{
    font-size: 1.125em;
  }

  .font-lg-1_25em{
    font-size: 1.25em;
  }

  .font-lg-1_375em{
    font-size: 1.375em;
  }

  .font-lg-1_5em{
    font-size: 1.5em;
  }

  .font-lg-1_625em{
    font-size: 1.625em;
  }

  .font-lg-1_75em{
    font-size: 1.75em;
  }

  .font-lg-1_875em{
    font-size: 1.875em;
  }

  .font-lg-2em{
    font-size: 2em;
  }

  .font-lg-2_5em{
    font-size: 2.5em;
  }

  .font-lg-3em{
    font-size: 3em;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  /* Size */
  .font-xl-0_25em{
    font-size: 0.25em;
  }

  .font-xl-0_5em{
    font-size: 0.5em;
  }

  .font-xl-0_75em{
    font-size: 0.75em;
  }

  .font-xl-1em{
    font-size: 1em;
  }

  .font-xl-1_125em{
    font-size: 1.125em;
  }

  .font-xl-1_25em{
    font-size: 1.25em;
  }

  .font-xl-1_375em{
    font-size: 1.375em;
  }

  .font-xl-1_5em{
    font-size: 1.5em;
  }

  .font-xl-1_625em{
    font-size: 1.625em;
  }

  .font-xl-1_75em{
    font-size: 1.75em;
  }

  .font-xl-1_875em{
    font-size: 1.875em;
  }

  .font-xl-2em{
    font-size: 2em;
  }

  .font-xl-2_5em{
    font-size: 2.5em;
  }

  .font-xl-3em{
    font-size: 3em;
  }
}
