@import "color", "font", "animation";

/* Debug */
.identify-red {
  border: 1.5px red dashed;
}

.identify-blue {
  border: 1.5px blue dashed;
}

.identify-green {
  border: 1.5px green dashed;
}

.identify-white {
  border: 1.5px white dashed;
}

/* html(tag based styles) */
html{

  scroll-behavior: smooth;

  .icon-35 {
    width: 35px;
    height: 35px;
  }

  .icon-50 {
    width: 50px;
    height: 50px;
  }

  span.text-vertical-center{
    vertical-align: middle;
  }

  a.clickable{
    display: inline-block;
  }

  a.clickable:hover{
    transform: scale(1.1);
  }

}

body {
  background: rgba(240, 240, 240, 1);
}

#topbar {
  height: 10px;
}

#rssbar{
  height: 25px;
  overflow: hidden;
  white-space: nowrap;
  background: black;
  position: relative;

  .rss-scroll-anim{
    position: absolute;
    top: 0px;
    left: 0px;
    @include animation-repeat(scrollX, 1s, 360s);
    animation-timing-function: linear;
  }

  .rss-scroll-anim:hover{
    animation-play-state: paused;
  }

  .rss-title{
    background: white;
    color: black;
    border-radius: 2px;
  }

  .rss-description{
    color: white;
  }

  .rss-container{
  }
}

#logobar{

  height: 100px;

  #logobox {
    @include bg-color($black);
  }

  #logobox:hover{

    @include animation-forward(expand, 0s, 0.6s);

    .logocharA{

      @include color($graffiti-pink);
    }

    .logocharB{

      @include color($graffiti-orange);
    }

    .logocharC{

      @include color($graffiti-green);
    }

    .logocharD{

      @include color($graffiti-neon-blue);
    }

    .logocharE{
      @include color($graffiti-sky-blue);
    }

    .logocharF{

      @include color($graffiti-red);
    }
  }

  #logotext {
    @include color($white);
    text-decoration: none;
  }
}

#navbar {

  z-index: 1;

  .nav-item:hover {
  }
}
