/* Pastel */
/*Firebase */
/* Shade(Brown) */
/* Shades(Black) */
/* Shades(White) */
/* Graffiti Colors */
/* Bootstrap Colors */
/* Nintendo */
.bg-black {
  background-color: #1D1D1D; }

.bg-pitch-black {
  background-color: #000000; }

.bg-half-transparent {
  opacity: 0.5; }

/* Font Colors */
.font-black {
  color: #1D1D1D; }

.font-pitch-black {
  color: #000000; }

.font-firebase-yellow {
  color: #FFCA28; }

.font-firebase-amber {
  color: #FFA000; }

.font-firebase-orange {
  color: #F57C00; }

.font-firebase-navy {
  color: #2C384A; }

.font-graffiti-sky-blue {
  color: #517fec; }

.font-graffiti-dark-blue {
  color: #3d6ddb; }

.font-graffiti-red {
  color: #e82153; }

.font-graffiti-light-green {
  color: #5dea97; }

.font-graffiti-green {
  color: #10c65c; }

.font-bootstrap-danger3 {
  color: #F41C20; }

.font-white {
  color: #FFFFFF; }

.font-dark-grey {
  color: #43423E; }

.font-grey {
  color: #919190; }

.font-bright-orange {
  color: #FDC566; }

.font-csharp-violet {
  color: #996ad5; }

@font-face {
  font-family: 'permanent_markerregular';
  src: url("../font/Permanent_Marker/permanentmarker-regular-webfont.woff2") format("woff2"), url("../font/Permanent_Marker/permanentmarker-regular-webfont.woff") format("woff"); }
@font-face {
  font-family: 'cabinregular';
  src: url("../font/Cabin/cabin-regular-webfont.woff2") format("woff2"), url("../font/Cabin/cabin-regular-webfont.woff") format("woff"); }
@font-face {
  font-family: 'press_start_2pregular';
  src: url("../font/PressStart2P/pressstart2p-regular-webfont.woff2") format("woff2"), url("../font/PressStart2P/pressstart2p-regular-webfont.woff") format("woff"); }
/* Font Family */
.font-marker {
  font-family: "permanent_markerregular", serif; }

.font-cabin {
  font-family: "cabinregular", serif; }

.font-press2p {
  font-family: "press_start_2pregular", serif; }

/* Others */
.no-text-deco {
  text-decoration: none !important; }

.font-bold {
  font-weight: bold; }

.text-uppercase {
  text-transform: uppercase; }

/* Size */
.font-0_25em {
  font-size: 0.25em; }

.font-0_5em {
  font-size: 0.5em; }

.font-0_75em {
  font-size: 0.75em; }

.font-1em {
  font-size: 1em; }

.font-1_125em {
  font-size: 1.125em; }

.font-1_25em {
  font-size: 1.25em; }

.font-1_375em {
  font-size: 1.375em; }

.font-1_5em {
  font-size: 1.5em; }

.font-1_625em {
  font-size: 1.625em; }

.font-1_75em {
  font-size: 1.75em; }

.font-1_875em {
  font-size: 1.875em; }

.font-2em {
  font-size: 2em; }

.font-2_5em {
  font-size: 2.5em; }

.font-3em {
  font-size: 3em; }

@media (min-width: 576px) {
  /* Size */
  .font-sm-0_25em {
    font-size: 0.25em; }

  .font-sm-0_5em {
    font-size: 0.5em; }

  .font-sm-0_75em {
    font-size: 0.75em; }

  .font-sm-1em {
    font-size: 1em; }

  .font-sm-1_125em {
    font-size: 1.125em; }

  .font-sm-1_25em {
    font-size: 1.25em; }

  .font-sm-1_375em {
    font-size: 1.375em; }

  .font-sm-1_5em {
    font-size: 1.5em; }

  .font-sm-1_625em {
    font-size: 1.625em; }

  .font-sm-1_75em {
    font-size: 1.75em; }

  .font-sm-1_875em {
    font-size: 1.875em; }

  .font-sm-2em {
    font-size: 2em; }

  .font-sm-2_5em {
    font-size: 2.5em; }

  .font-sm-3em {
    font-size: 3em; } }
@media (min-width: 768px) {
  /* Size */
  .font-md-0_25em {
    font-size: 0.25em; }

  .font-md-0_5em {
    font-size: 0.5em; }

  .font-md-0_75em {
    font-size: 0.75em; }

  .font-md-1em {
    font-size: 1em; }

  .font-md-1_125em {
    font-size: 1.125em; }

  .font-md-1_25em {
    font-size: 1.25em; }

  .font-md-1_375em {
    font-size: 1.375em; }

  .font-md-1_5em {
    font-size: 1.5em; }

  .font-md-1_625em {
    font-size: 1.625em; }

  .font-md-1_75em {
    font-size: 1.75em; }

  .font-md-1_875em {
    font-size: 1.875em; }

  .font-md-2em {
    font-size: 2em; }

  .font-md-2_5em {
    font-size: 2.5em; }

  .font-md-3em {
    font-size: 3em; } }
@media (min-width: 992px) {
  /* Size */
  .font-lg-0_25em {
    font-size: 0.25em; }

  .font-lg-0_5em {
    font-size: 0.5em; }

  .font-lg-0_75em {
    font-size: 0.75em; }

  .font-lg-1em {
    font-size: 1em; }

  .font-lg-1_125em {
    font-size: 1.125em; }

  .font-lg-1_25em {
    font-size: 1.25em; }

  .font-lg-1_375em {
    font-size: 1.375em; }

  .font-lg-1_5em {
    font-size: 1.5em; }

  .font-lg-1_625em {
    font-size: 1.625em; }

  .font-lg-1_75em {
    font-size: 1.75em; }

  .font-lg-1_875em {
    font-size: 1.875em; }

  .font-lg-2em {
    font-size: 2em; }

  .font-lg-2_5em {
    font-size: 2.5em; }

  .font-lg-3em {
    font-size: 3em; } }
@media (min-width: 1200px) {
  /* Size */
  .font-xl-0_25em {
    font-size: 0.25em; }

  .font-xl-0_5em {
    font-size: 0.5em; }

  .font-xl-0_75em {
    font-size: 0.75em; }

  .font-xl-1em {
    font-size: 1em; }

  .font-xl-1_125em {
    font-size: 1.125em; }

  .font-xl-1_25em {
    font-size: 1.25em; }

  .font-xl-1_375em {
    font-size: 1.375em; }

  .font-xl-1_5em {
    font-size: 1.5em; }

  .font-xl-1_625em {
    font-size: 1.625em; }

  .font-xl-1_75em {
    font-size: 1.75em; }

  .font-xl-1_875em {
    font-size: 1.875em; }

  .font-xl-2em {
    font-size: 2em; }

  .font-xl-2_5em {
    font-size: 2.5em; }

  .font-xl-3em {
    font-size: 3em; } }
@keyframes expand {
  from {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    -o-transform: scale(1, 1);
    /* Opera */
    -moz-transform: scale(1, 1);
    /* Fire Fox */
    transform: scale(1, 1); }
  to {
    -ms-transform: scale(1.05, 1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05, 1.05);
    /* Safari */
    -o-transform: scale(1.05, 1.05);
    /* Opera */
    -moz-transform: scale(1.05, 1.05);
    /* Fire Fox */
    transform: scale(1.05, 1.05); } }
@keyframes rotateY {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }
@keyframes scrollX {
  from {
    transform: translateX(0%); }
  to {
    transform: translateX(-100%); } }
@keyframes bg-blinking {
  from, to {
    background: transparent; }
  50% {
    background: grey; } }
/* Debug */
.identify-red {
  border: 1.5px red dashed; }

.identify-blue {
  border: 1.5px blue dashed; }

.identify-green {
  border: 1.5px green dashed; }

.identify-white {
  border: 1.5px white dashed; }

/* html(tag based styles) */
html {
  scroll-behavior: smooth; }
  html .icon-35 {
    width: 35px;
    height: 35px; }
  html .icon-50 {
    width: 50px;
    height: 50px; }
  html span.text-vertical-center {
    vertical-align: middle; }
  html a.clickable {
    display: inline-block; }
  html a.clickable:hover {
    transform: scale(1.1); }

body {
  background: #f0f0f0; }

#topbar {
  height: 10px; }

#rssbar {
  height: 25px;
  overflow: hidden;
  white-space: nowrap;
  background: black;
  position: relative; }
  #rssbar .rss-scroll-anim {
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-animation-name: scrollX;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: 360s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: scrollX;
    -moz-animation-delay: 1s;
    -moz-animation-duration: 360s;
    -moz-animation-iteration-count: infinite;
    -o-animation-name: scrollX;
    -o-animation-delay: 1s;
    -o-animation-duration: 360s;
    -o-animation-iteration-count: infinite;
    animation-name: scrollX;
    animation-delay: 1s;
    animation-duration: 360s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  #rssbar .rss-scroll-anim:hover {
    animation-play-state: paused; }
  #rssbar .rss-title {
    background: white;
    color: black;
    border-radius: 2px; }
  #rssbar .rss-description {
    color: white; }

#logobar {
  height: 100px; }
  #logobar #logobox {
    background-color: #1D1D1D; }
  #logobar #logobox:hover {
    -webkit-animation-name: expand;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: expand;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.6s;
    -moz-animation-fill-mode: forwards;
    -o-animation-name: expand;
    -o-animation-delay: 0s;
    -o-animation-duration: 0.6s;
    -o-animation-fill-mode: forwards;
    animation-name: expand;
    animation-delay: 0s;
    animation-duration: 0.6s;
    animation-fill-mode: forwards; }
    #logobar #logobox:hover .logocharA {
      color: #f35982; }
    #logobar #logobox:hover .logocharB {
      color: #fcbd4f; }
    #logobar #logobox:hover .logocharC {
      color: #10c65c; }
    #logobar #logobox:hover .logocharD {
      color: #39e4ea; }
    #logobar #logobox:hover .logocharE {
      color: #517fec; }
    #logobar #logobox:hover .logocharF {
      color: #e82153; }
  #logobar #logotext {
    color: #FFFFFF;
    text-decoration: none; }

#navbar {
  z-index: 1; }

#nintendobar {
  height: 60px;
  border-radius: 2.5px;
  border-left: 2.5px black solid;
  border-right: 2.5px black solid;
  border-bottom: 1.5px black solid;
  color: #D20014;
  background: #0B080F; }
  #nintendobar .nintendo-cross-button-container {
    position: relative;
    height: 60px;
    width: 60px;
    margin: 0px;
    padding: 0px; }
  #nintendobar .nintendo-cross-button {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 2.5px;
    background: #32353E;
    cursor: pointer; }
  #nintendobar .nintendo-cross-button-up {
    top: 0px;
    left: 20px;
    box-shadow: inset -2px 0px 0px 0px #D5D6DB; }
  #nintendobar .nintendo-cross-button-down {
    top: 40px;
    left: 20px;
    box-shadow: inset -1px -2px 0px 1px #D5D6DB; }
  #nintendobar .nintendo-cross-button-middle {
    top: 20px;
    left: 20px; }
  #nintendobar .nintendo-cross-button-left {
    top: 20px;
    left: 0px;
    box-shadow: inset 0px -2px 0px 0px #D5D6DB; }
  #nintendobar .nintendo-cross-button-right {
    top: 20px;
    left: 40px;
    box-shadow: inset -1px -2px 0px 1px #D5D6DB; }
  #nintendobar #nintendo-middle-area {
    background: #cfcfc4;
    box-shadow: 0px 3px 1px 0px #32353E;
    border-radius: 2.5px; }
  #nintendobar #nintendo-middle-area-shadow {
    width: 95%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 2.5%;
    border-radius: 2.5px;
    border-top: 4px #32353E solid;
    border-left: 2px #32353E solid;
    border-right: 2px #32353E solid;
    border-bottom: 1px #32353E solid; }
  #nintendobar #nintendo-select-button {
    height: 15px;
    width: 45px;
    background: black;
    border-radius: 10px;
    box-shadow: inset 0px -2.5px 0px 1px #32353E;
    cursor: pointer; }
  #nintendobar #nintendo-start-button {
    height: 15px;
    width: 45px;
    background: black;
    border-radius: 10px;
    box-shadow: inset 0px -2.5px 0px 1px #32353E;
    cursor: pointer; }
  #nintendobar .nintendo-button-square {
    width: 50px;
    height: 50px;
    padding: 2.5px 0px 0px 0px;
    background: #D5D6DB;
    border-radius: 2.5px; }
  #nintendobar .nintendo-circle-button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #D20014;
    box-shadow: 1.5px 2.5px 0px 1.5px #77000B;
    cursor: pointer; }

/* Middle */
#carousel {
  height: 400px; }
  #carousel .carousel-inner {
    background-image: url("../img/Jungle Asset Pack/plx-5.png"), url("../img/Jungle Asset Pack/plx-4.png"), url("../img/Jungle Asset Pack/plx-3.png"), url("../img/Jungle Asset Pack/plx-2.png"), url("../img/Jungle Asset Pack/plx-1.png");
    background-size: contain; }
  #carousel .carousel-item {
    height: 400px; }
  #carousel .carousel-img {
    max-width: 100%;
    margin: auto; }
  #carousel .carousel-caption {
    width: 50%;
    height: auto;
    border-top: 3px #000000 solid;
    border-bottom: 4px #000000 solid;
    background: white;
    color: #000000; }
  #carousel .carousel-caption:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: -3px;
    border-left: 3px #000000 solid;
    background: transparent; }
  #carousel .carousel-caption:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 3px;
    border-right: 4px #000000 solid;
    background: transparent; }

#carousel-space {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(150, 150, 150, 0.1);
  perspective: 500px;
  /*
  .carousel-wall{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }

  #carousel-wall-top{
    padding-top: 100%;
    transform-origin: center top;
    transform: rotateX(-90deg);
    border-bottom: 20px black solid;
  }

  #carousel-wall-right{
    transform-origin: right center;
    transform: rotateY(-90deg);
    border-top: 2px black solid;
    border-left: 10px black solid;
    border-bottom: 2px black solid;
  }

  #carousel-wall-bottom{
    top: 100%;
    padding-top: 100%;
    transform-origin: center top;
    transform: rotateX(-90deg);
    border-bottom: 20px black solid;
  }

  #carousel-wall-left{
    transform-origin: left center;
    transform: rotateY(90deg);
    border-top: 2px black solid;
    border-right: 10px black solid;
    border-bottom: 2px black solid;
  }

  #carousel-wall-middle{
    display: none;
  }
  */ }

.content-card-row .content-card {
  background: white;
  border-top: 3px black solid;
  border-bottom: 3px black solid;
  box-shadow: 10px 10px 0px 0px #D3D3D3;
  text-transform: uppercase; }
.content-card-row .content-card-body {
  height: 70%;
  padding: 10px 5px 10px 5px; }
.content-card-row .content-card:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: -3px;
  top: 0px;
  border-left: 3px black solid; }
.content-card-row .content-card:before {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 3px;
  top: 0px;
  border-right: 3px black solid; }
.content-card-row .content-card:hover {
  -webkit-animation-name: expand;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: expand;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 0.5s;
  -moz-animation-fill-mode: forwards;
  -o-animation-name: expand;
  -o-animation-delay: 0s;
  -o-animation-duration: 0.5s;
  -o-animation-fill-mode: forwards;
  animation-name: expand;
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

#blog-intro {
  border-top: 3px #000000 solid;
  border-bottom: 5px #000000 solid;
  z-index: 1; }

#blog-intro:before, #blog-intro:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px; }

#blog-intro:before {
  border-left: #000000 3px solid;
  left: -5px; }

#blog-intro:after {
  border-right: #000000 5px solid;
  left: 5px; }

#typewriter {
  overflow: hidden;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 3.5s steps(40, end); }

#typewriter-cursor {
  display: inline-block;
  width: 0.5em;
  height: 20px;
  background: grey;
  animation: bg-blinking .5s step-end infinite; }

.typewriter-btn {
  display: none;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  color: white;
  background: #000000;
  padding: 0px 2px 0px 2px; }

.typewriter-btn:hover {
  cursor: pointer; }

/* Bottom */
#about-me {
  background: #353839;
  box-shadow: inset 0px 3px 5px 0px black; }
  #about-me .about-me-section {
    height: 250px; }
  #about-me #about-me-sectionA:after {
    content: '';
    width: 80%;
    height: 0%;
    position: absolute;
    top: 100%;
    left: 10%;
    border-right: white 0px dashed;
    border-bottom: white 2px dashed; }
  #about-me #about-me-sectionB:after {
    content: '';
    width: 80%;
    height: 0;
    position: absolute;
    top: 100%;
    left: 10%;
    border-right: white 0px dashed;
    border-bottom: white 2px dashed; }

@media (min-width: 768px) {
  #about-me #about-me-sectionA:after {
    content: '';
    width: 0%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 100%;
    border-right: white 2px dashed;
    border-bottom: white 0px dashed; }
  #about-me #about-me-sectionB:after {
    content: '';
    width: 0;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 100%;
    border-right: white 2px dashed;
    border-bottom: white 0px dashed; } }

/*# sourceMappingURL=style-landing.css.map */
