/* Shade(Brown) */
/* Shades(Black) */
/* Shades(White) */
/* Graffiti Colors */
/* Bootstrap Colors */
/* Nintendo */
.bg-black {
  background-color: #1D1D1D; }

.bg-pitch-black {
  background-color: #000000; }

.bg-half-transparent {
  opacity: 0.5; }

.font-black {
  color: #1D1D1D; }

.font-pitch-black {
  color: #000000; }

.font-white {
  color: #FFFFFF; }

.font-dark-grey {
  color: #43423E; }

.font-grey {
  color: #919190; }

.font-bright-orange {
  color: #FDC566; }

@font-face {
  font-family: 'permanent_markerregular';
  src: url("../font/Permanent_Marker/permanentmarker-regular-webfont.woff2") format("woff2"), url("../font/Permanent_Marker/permanentmarker-regular-webfont.woff") format("woff"); }
@font-face {
  font-family: 'cabinregular';
  src: url("../font/Cabin/cabin-regular-webfont.woff2") format("woff2"), url("../font/Cabin/cabin-regular-webfont.woff") format("woff"); }
@font-face {
  font-family: 'press_start_2pregular';
  src: url("../font/PressStart2P/pressstart2p-regular-webfont.woff2") format("woff2"), url("../font/PressStart2P/pressstart2p-regular-webfont.woff") format("woff"); }
/* Font Family */
.font-marker {
  font-family: "permanent_markerregular", serif; }

.font-cabin {
  font-family: "cabinregular", serif; }

.font-press2p {
  font-family: "press_start_2pregular", serif; }

/* Others */
.no-text-deco {
  text-decoration: none !important; }

.font-bold {
  font-weight: bold; }

/* Size */
.font-0_25em {
  font-size: 0.25em; }

.font-0_5em {
  font-size: 0.5em; }

.font-0_75em {
  font-size: 0.75em; }

.font-1em {
  font-size: 1em; }

.font-1_125em {
  font-size: 1.125em; }

.text-1_25em {
  font-size: 1.25em; }

.font-1_375em {
  font-size: 1.375em; }

.font-1_5em {
  font-size: 1.5em; }

.font-1_625em {
  font-size: 1.625em; }

.font-1_75em {
  font-size: 1.75em; }

.font-1_875em {
  font-size: 1.875em; }

.font-2em {
  font-size: 2em; }

.font-2_5em {
  font-size: 2.5em; }

.font-3em {
  font-size: 3em; }

@keyframes expand {
  0% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    -o-transform: scale(1, 1);
    /* Opera */
    -moz-transform: scale(1, 1);
    /* Fire Fox */
    transform: scale(1, 1); }
  100% {
    -ms-transform: scale(1.05, 1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05, 1.05);
    /* Safari */
    -o-transform: scale(1.05, 1.05);
    /* Opera */
    -moz-transform: scale(1.05, 1.05);
    /* Fire Fox */
    transform: scale(1.05, 1.05); } }
@keyframes rotateY {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }
@keyframes rotateY {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }
/* Debug */
.identify-red {
  border: 1.5px red dashed; }

.identify-blue {
  border: 1.5px blue dashed; }

.identify-green {
  border: 1.5px green dashed; }

.identify-white {
  border: 1.5px white dashed; }

.icon-35 {
  width: 35px;
  height: 35px; }

.icon-50 {
  width: 50px;
  height: 50px; }

span.text-vertical-center {
  vertical-align: middle; }

a.clickable {
  display: inline-block; }

a.clickable:hover {
  transform: scale(1.1); }

#topbar {
  height: 10px; }

#logobar {
  height: 100px; }
  #logobar #logobox {
    background-color: #1D1D1D; }
  #logobar #logobox:hover {
    -webkit-animation-name: expand;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: expand;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.6s;
    -moz-animation-fill-mode: forwards;
    -o-animation-name: expand;
    -o-animation-delay: 0s;
    -o-animation-duration: 0.6s;
    -o-animation-fill-mode: forwards;
    animation-name: expand;
    animation-delay: 0s;
    animation-duration: 0.6s;
    animation-fill-mode: forwards; }
    #logobar #logobox:hover .logocharA {
      color: #f35982; }
    #logobar #logobox:hover .logocharB {
      color: #fcbd4f; }
    #logobar #logobox:hover .logocharC {
      color: #10c65c; }
    #logobar #logobox:hover .logocharD {
      color: #39e4ea; }
    #logobar #logobox:hover .logocharE {
      color: #517fec; }
    #logobar #logobox:hover .logocharF {
      color: #e82153; }
  #logobar #logotext {
    color: #FFFFFF;
    text-decoration: none; }

.section-divider {
  height: 5px;
  width: 99%;
  background: black; }

#navbar {
  z-index: 1; }

#rssbar {
  height: 65px;
  background: white;
  border-left: 5px black solid;
  border-right: 5px black solid; }

#nintendobar {
  height: 60px;
  padding: 5px 0px 5px 0px;
  border-left: 5px black solid;
  border-right: 5px black solid;
  background: #0B080F;
  color: #D20014; }
  #nintendobar .nintendo-cross-button-container {
    position: relative;
    height: 60px;
    width: 60px; }
  #nintendobar .nintendo-cross-button-x {
    width: 50px;
    height: 20px;
    position: absolute;
    left: 2.5px;
    top: 17.5px;
    background: #32353E;
    box-shadow: inset -1px -2px 0px 1px #D5D6DB;
    border-radius: 2px; }
  #nintendobar .nintendo-cross-button-y {
    width: 20px;
    height: 50px;
    position: absolute;
    left: 17.5px;
    top: 2.5px;
    background: #32353E;
    border-radius: 2px; }
  #nintendobar #nintendo-middle-area {
    background: #D5D6DB;
    border-radius: 10px;
    box-shadow: 0px 3px 1px 0px #32353E; }
  #nintendobar #nintendo-middle-area-shadow {
    width: 95%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 2.5%;
    border-radius: 10px;
    border-top: 4px #32353E solid;
    border-left: 2px #32353E solid;
    border-right: 2px #32353E solid;
    border-bottom: 1px #32353E solid; }
  #nintendobar #nintendo-select-button {
    height: 15px;
    width: 45px;
    background: black;
    border-radius: 10px;
    box-shadow: inset 0px -2.5px 0px 1px #32353E; }
  #nintendobar #nintendo-start-button {
    height: 15px;
    width: 45px;
    background: black;
    border-radius: 10px;
    box-shadow: inset 0px -2.5px 0px 1px #32353E; }
  #nintendobar .nintendo-button-square {
    width: 50px;
    height: 50px;
    padding: 2.5px 0px 0px 0px;
    background: #D5D6DB;
    border-radius: 10px; }
  #nintendobar .nintendo-circle-button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #D20014;
    box-shadow: 1.5px 2.5px 0px 1.5px #77000B; }

/* Middle */
#carousel {
  height: 400px;
  background: white;
  border-left: 5px black solid;
  border-right: 5px black solid; }
  #carousel .carousel-item {
    height: 400px; }
  #carousel .carousel-img {
    width: 75% !important;
    height: 75% !important;
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    transform-origin: 50% 50%; }
  #carousel .carousel-caption {
    width: 50%;
    height: auto;
    border-top: 5px #000000 solid;
    border-bottom: 5px #000000 solid;
    background: white;
    color: #000000; }
  #carousel .carousel-caption:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: -5px;
    border-left: 5px #000000 solid;
    background: transparent; }
  #carousel .carousel-caption:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 5px;
    border-right: 5px #000000 solid;
    background: transparent; }

#carousel-space {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(225, 225, 225, 0.2);
  perspective: 500px; }
  #carousel-space .carousel-wall {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; }
  #carousel-space #carousel-wall-top {
    padding-top: 100%;
    transform-origin: center top;
    transform: rotateX(-90deg);
    border-bottom: 20px black solid; }
  #carousel-space #carousel-wall-right {
    transform-origin: right center;
    transform: rotateY(-90deg);
    border-top: 2px black solid;
    border-left: 10px black solid;
    border-bottom: 2px black solid; }
  #carousel-space #carousel-wall-bottom {
    top: 100%;
    padding-top: 100%;
    transform-origin: center top;
    transform: rotateX(-90deg);
    border-bottom: 20px black solid; }
  #carousel-space #carousel-wall-left {
    transform-origin: left center;
    transform: rotateY(90deg);
    border-top: 2px black solid;
    border-right: 10px black solid;
    border-bottom: 2px black solid; }
  #carousel-space #carousel-wall-middle {
    display: none; }

/*Content Card*/
.content-card-row .content-card {
  height: 350px;
  padding: 15px;
  background: white;
  border-top: 3px black solid;
  border-bottom: 3px black solid; }
.content-card-row .content-card:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: -3px;
  top: 0px;
  border-left: 3px black solid; }
.content-card-row .content-card:before {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 3px;
  top: 0px;
  border-right: 3px black solid; }
.content-card-row .content-card:hover {
  transform: scale(1.05, 1.05); }
.content-card-row .content-card-img {
  width: 90%;
  height: 30%;
  margin: 5%; }
.content-card-row .content-card-body {
  height: 70%; }
.content-card-row #unity-card {
  box-shadow: 10px 10px 2.5px 0px #353839; }
.content-card-row #security-card {
  box-shadow: 0px 10px 2.5px 0px #353839; }
.content-card-row #extra-card {
  box-shadow: -10px 10px 2.5px 0px #353839; }

/* Bottom */
#about-me {
  background: #353839;
  box-shadow: inset 0px 3px 5px 0px black; }
  #about-me .about-me-section {
    height: 250px; }

.vertical-separator {
  height: 200px;
  border-left: #D3D3D3 1px solid; }

.horizontal-separator {
  border: #D3D3D3 1px solid; }

/*# sourceMappingURL=style.css.map */
