/* Pastel */
/*Firebase */
/* Shade(Brown) */
/* Shades(Black) */
/* Shades(White) */
/* Graffiti Colors */
/* Bootstrap Colors */
/* Nintendo */
.bg-black {
  background-color: #1D1D1D; }

.bg-pitch-black {
  background-color: #000000; }

.bg-half-transparent {
  opacity: 0.5; }

/* Font Colors */
.font-black {
  color: #1D1D1D; }

.font-pitch-black {
  color: #000000; }

.font-firebase-yellow {
  color: #FFCA28; }

.font-firebase-amber {
  color: #FFA000; }

.font-firebase-orange {
  color: #F57C00; }

.font-firebase-navy {
  color: #2C384A; }

.font-graffiti-sky-blue {
  color: #517fec; }

.font-graffiti-dark-blue {
  color: #3d6ddb; }

.font-graffiti-red {
  color: #e82153; }

.font-graffiti-light-green {
  color: #5dea97; }

.font-graffiti-green {
  color: #10c65c; }

.font-bootstrap-danger3 {
  color: #F41C20; }

.font-white {
  color: #FFFFFF; }

.font-dark-grey {
  color: #43423E; }

.font-grey {
  color: #919190; }

.font-bright-orange {
  color: #FDC566; }

.font-csharp-violet {
  color: #996ad5; }

@font-face {
  font-family: 'permanent_markerregular';
  src: url("../font/Permanent_Marker/permanentmarker-regular-webfont.woff2") format("woff2"), url("../font/Permanent_Marker/permanentmarker-regular-webfont.woff") format("woff"); }
@font-face {
  font-family: 'cabinregular';
  src: url("../font/Cabin/cabin-regular-webfont.woff2") format("woff2"), url("../font/Cabin/cabin-regular-webfont.woff") format("woff"); }
@font-face {
  font-family: 'press_start_2pregular';
  src: url("../font/PressStart2P/pressstart2p-regular-webfont.woff2") format("woff2"), url("../font/PressStart2P/pressstart2p-regular-webfont.woff") format("woff"); }
/* Font Family */
.font-marker {
  font-family: "permanent_markerregular", serif; }

.font-cabin {
  font-family: "cabinregular", serif; }

.font-press2p {
  font-family: "press_start_2pregular", serif; }

/* Others */
.no-text-deco {
  text-decoration: none !important; }

.font-bold {
  font-weight: bold; }

.text-uppercase {
  text-transform: uppercase; }

/* Size */
.font-0_25em {
  font-size: 0.25em; }

.font-0_5em {
  font-size: 0.5em; }

.font-0_75em {
  font-size: 0.75em; }

.font-1em {
  font-size: 1em; }

.font-1_125em {
  font-size: 1.125em; }

.font-1_25em {
  font-size: 1.25em; }

.font-1_375em {
  font-size: 1.375em; }

.font-1_5em {
  font-size: 1.5em; }

.font-1_625em {
  font-size: 1.625em; }

.font-1_75em {
  font-size: 1.75em; }

.font-1_875em {
  font-size: 1.875em; }

.font-2em {
  font-size: 2em; }

.font-2_5em {
  font-size: 2.5em; }

.font-3em {
  font-size: 3em; }

@media (min-width: 576px) {
  /* Size */
  .font-sm-0_25em {
    font-size: 0.25em; }

  .font-sm-0_5em {
    font-size: 0.5em; }

  .font-sm-0_75em {
    font-size: 0.75em; }

  .font-sm-1em {
    font-size: 1em; }

  .font-sm-1_125em {
    font-size: 1.125em; }

  .font-sm-1_25em {
    font-size: 1.25em; }

  .font-sm-1_375em {
    font-size: 1.375em; }

  .font-sm-1_5em {
    font-size: 1.5em; }

  .font-sm-1_625em {
    font-size: 1.625em; }

  .font-sm-1_75em {
    font-size: 1.75em; }

  .font-sm-1_875em {
    font-size: 1.875em; }

  .font-sm-2em {
    font-size: 2em; }

  .font-sm-2_5em {
    font-size: 2.5em; }

  .font-sm-3em {
    font-size: 3em; } }
@media (min-width: 768px) {
  /* Size */
  .font-md-0_25em {
    font-size: 0.25em; }

  .font-md-0_5em {
    font-size: 0.5em; }

  .font-md-0_75em {
    font-size: 0.75em; }

  .font-md-1em {
    font-size: 1em; }

  .font-md-1_125em {
    font-size: 1.125em; }

  .font-md-1_25em {
    font-size: 1.25em; }

  .font-md-1_375em {
    font-size: 1.375em; }

  .font-md-1_5em {
    font-size: 1.5em; }

  .font-md-1_625em {
    font-size: 1.625em; }

  .font-md-1_75em {
    font-size: 1.75em; }

  .font-md-1_875em {
    font-size: 1.875em; }

  .font-md-2em {
    font-size: 2em; }

  .font-md-2_5em {
    font-size: 2.5em; }

  .font-md-3em {
    font-size: 3em; } }
@media (min-width: 992px) {
  /* Size */
  .font-lg-0_25em {
    font-size: 0.25em; }

  .font-lg-0_5em {
    font-size: 0.5em; }

  .font-lg-0_75em {
    font-size: 0.75em; }

  .font-lg-1em {
    font-size: 1em; }

  .font-lg-1_125em {
    font-size: 1.125em; }

  .font-lg-1_25em {
    font-size: 1.25em; }

  .font-lg-1_375em {
    font-size: 1.375em; }

  .font-lg-1_5em {
    font-size: 1.5em; }

  .font-lg-1_625em {
    font-size: 1.625em; }

  .font-lg-1_75em {
    font-size: 1.75em; }

  .font-lg-1_875em {
    font-size: 1.875em; }

  .font-lg-2em {
    font-size: 2em; }

  .font-lg-2_5em {
    font-size: 2.5em; }

  .font-lg-3em {
    font-size: 3em; } }
@media (min-width: 1200px) {
  /* Size */
  .font-xl-0_25em {
    font-size: 0.25em; }

  .font-xl-0_5em {
    font-size: 0.5em; }

  .font-xl-0_75em {
    font-size: 0.75em; }

  .font-xl-1em {
    font-size: 1em; }

  .font-xl-1_125em {
    font-size: 1.125em; }

  .font-xl-1_25em {
    font-size: 1.25em; }

  .font-xl-1_375em {
    font-size: 1.375em; }

  .font-xl-1_5em {
    font-size: 1.5em; }

  .font-xl-1_625em {
    font-size: 1.625em; }

  .font-xl-1_75em {
    font-size: 1.75em; }

  .font-xl-1_875em {
    font-size: 1.875em; }

  .font-xl-2em {
    font-size: 2em; }

  .font-xl-2_5em {
    font-size: 2.5em; }

  .font-xl-3em {
    font-size: 3em; } }
@keyframes expand {
  from {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    -o-transform: scale(1, 1);
    /* Opera */
    -moz-transform: scale(1, 1);
    /* Fire Fox */
    transform: scale(1, 1); }
  to {
    -ms-transform: scale(1.05, 1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05, 1.05);
    /* Safari */
    -o-transform: scale(1.05, 1.05);
    /* Opera */
    -moz-transform: scale(1.05, 1.05);
    /* Fire Fox */
    transform: scale(1.05, 1.05); } }
@keyframes rotateY {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }
@keyframes scrollX {
  from {
    transform: translateX(0%); }
  to {
    transform: translateX(-100%); } }
@keyframes bg-blinking {
  from, to {
    background: transparent; }
  50% {
    background: grey; } }
/* Debug */
.identify-red {
  border: 1.5px red dashed; }

.identify-blue {
  border: 1.5px blue dashed; }

.identify-green {
  border: 1.5px green dashed; }

.identify-white {
  border: 1.5px white dashed; }

/* html(tag based styles) */
html {
  scroll-behavior: smooth; }
  html .icon-35 {
    width: 35px;
    height: 35px; }
  html .icon-50 {
    width: 50px;
    height: 50px; }
  html span.text-vertical-center {
    vertical-align: middle; }
  html a.clickable {
    display: inline-block; }
  html a.clickable:hover {
    transform: scale(1.1); }

body {
  background: #f0f0f0; }

#topbar {
  height: 10px; }

#rssbar {
  height: 25px;
  overflow: hidden;
  white-space: nowrap;
  background: black;
  position: relative; }
  #rssbar .rss-scroll-anim {
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-animation-name: scrollX;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: 360s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: scrollX;
    -moz-animation-delay: 1s;
    -moz-animation-duration: 360s;
    -moz-animation-iteration-count: infinite;
    -o-animation-name: scrollX;
    -o-animation-delay: 1s;
    -o-animation-duration: 360s;
    -o-animation-iteration-count: infinite;
    animation-name: scrollX;
    animation-delay: 1s;
    animation-duration: 360s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  #rssbar .rss-scroll-anim:hover {
    animation-play-state: paused; }
  #rssbar .rss-title {
    background: white;
    color: black;
    border-radius: 2px; }
  #rssbar .rss-description {
    color: white; }

#logobar {
  height: 100px; }
  #logobar #logobox {
    background-color: #1D1D1D; }
  #logobar #logobox:hover {
    -webkit-animation-name: expand;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: expand;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.6s;
    -moz-animation-fill-mode: forwards;
    -o-animation-name: expand;
    -o-animation-delay: 0s;
    -o-animation-duration: 0.6s;
    -o-animation-fill-mode: forwards;
    animation-name: expand;
    animation-delay: 0s;
    animation-duration: 0.6s;
    animation-fill-mode: forwards; }
    #logobar #logobox:hover .logocharA {
      color: #f35982; }
    #logobar #logobox:hover .logocharB {
      color: #fcbd4f; }
    #logobar #logobox:hover .logocharC {
      color: #10c65c; }
    #logobar #logobox:hover .logocharD {
      color: #39e4ea; }
    #logobar #logobox:hover .logocharE {
      color: #517fec; }
    #logobar #logobox:hover .logocharF {
      color: #e82153; }
  #logobar #logotext {
    color: #FFFFFF;
    text-decoration: none; }

#navbar {
  z-index: 1; }

#banner {
  border-top: 2.5px black solid !important;
  border-bottom: 2.5px black solid !important; }

/*# sourceMappingURL=style-pagebook.css.map */
